# {{ ansible_managed }}

no-resolv
{% for upstream_dns in external_name_servers %}
server={{upstream_dns}}
{% endfor %}
local=/{{cluster_name}}.{{domain_name}}/

address=/api-int.{{cluster_name}}.{{domain_name}}/{{groups['lb'][0]}}
address=/api.{{cluster_name}}.{{domain_name}}/{{groups['lb'][0]}}
address=/.apps.{{cluster_name}}.{{domain_name}}/{{groups['lb'][0]}}

{% if rhcos_installation_method|upper != "IPI" %}
{% for master in groups['masters'] %}
address=/etcd-{{loop.index - 1}}.{{cluster_name}}.{{domain_name}}/{{master}}
{% endfor %}
{% for master in groups['masters'] %}
srv-host=_etcd-server-ssl._tcp.{{cluster_name}}.{{domain_name}},etcd-{{loop.index - 1}}.{{cluster_name}}.{{domain_name}},2380,0,10
{% endfor %}
{% endif %}

{% if dhcp_on_bastion %}
domain={{cluster_name}}.{{domain_name}}

{% for tag in groups['dhcp'] | sort %}
dhcp-range={{tag}},{{hostvars[tag]['begin']}},{{hostvars[tag]['end']}},infinite
dhcp-option={{tag}},3,{{hostvars[tag]['gateway']}}
{% endfor %}

{% if rhcos_installation_method|upper!="IPI" %}
{% for host in groups['masters'] | sort %}
dhcp-host={{hostvars[host]['mac']}},{{hostvars[host]['host']}},{{host}}
{% endfor %}

{% for host in groups['workers'] | sort %}
dhcp-host={{hostvars[host]['mac']}},{{hostvars[host]['host']}},{{host}}
{% endfor %}

{% for host in groups['bootstrap'] | sort %}
dhcp-host={{hostvars[host]['mac']}},{{hostvars[host]['host']}},{{host}}
{% endfor %}
{% endif %}

{% if rhcos_installation_method|upper=="PXE" %}
enable-tftp
tftp-root=/tftpboot
dhcp-boot=pxelinux.0
{% endif %}

{% endif %}
