---

- name: Create OpenShift ignition manifests
  shell: |
    {{ocp_install_dir}}/openshift-install create manifests --dir={{ocp_install_dir}}

- name: Make masters unschedulable
  lineinfile:
    path: "{{ocp_install_dir}}/manifests/cluster-scheduler-02-config.yml"
    regex: "  mastersSchedulable: true"
    line: "  mastersSchedulable: false"

- name: To check, keep copy of cluster-scheduler-02-config.yml in /tmp
  copy:
    src: "{{ocp_install_dir}}/manifests/cluster-scheduler-02-config.yml"
    dest: /tmp/cluster-scheduler-02-config.yml

- name: Get the chrony client configuration
  slurp:
    src: "{{ocp_install_dir}}/chrony_client.conf"
  register: chrony_client_conf

- name: Create Machine Config for chrony
  template:
    src: ocp_ignition_chrony.j2
    dest: "{{ocp_install_dir}}/openshift/40_{{item}}s_ocp_chrony_configuration.yaml"
    owner: root
    group: root
    mode: 0644
  with_items:
    - "master"
    - "worker"
  vars:
    node_type: "{{item}}"
  when: override_chrony_settings_on_cluster_nodes|bool

- name: Get the global proxy configuration (if defined)
  slurp:
    src: "/etc/profile.d/global_proxy.sh"
  register: global_proxy_conf
  when: configure_global_proxy is defined and configure_global_proxy==True 

- name: Create Machine Config for global proxy
  template:
    src: ocp_ignition_proxy.j2
    dest: "{{ocp_install_dir}}/openshift/40_{{item}}s_ocp_proxy_configuration.yaml"
    owner: root
    group: root
    mode: 0644
  with_items:
    - "master"
    - "worker"
  vars:
    node_type: "{{item}}"
  when: configure_global_proxy is defined and configure_global_proxy==True

- name: Create OpenShift ignition configurations
  shell: |
    {{ocp_install_dir}}/openshift-install create ignition-configs --dir={{ocp_install_dir}}

- name: Change ignition files permissions
  file:
    path: "{{item}}"
    owner: root
    group: root
    mode: '0644'
  with_items:
    - "{{ocp_install_dir}}/bootstrap.ign"
    - "{{ocp_install_dir}}/master.ign"
    - "{{ocp_install_dir}}/worker.ign"

- block:
  - name: Check if SELinux has already been configured for ignition files
    shell:
      semanage fcontext -l | grep httpd_sys_content_t | grep '{{ ocp_install_dir }}/.*\.ign' | wc -l
    register: _http_ignition

  - name: Enable access to ignition files for nginx (SELinux)
    shell: |
      semanage fcontext -a -t httpd_sys_content_t -s system_u '{{ ocp_install_dir }}/.*\.ign'
    when: _http_ignition.stdout == "0"
  when: ansible_selinux.status=='enabled'

- name: Restore SELinux context for ignition files
  shell: restorecon -Rv "{{ocp_install_dir}}/*.ign"
  when: ansible_selinux.status=='enabled' 

- name: Generate ignition file for bootstrap server OVA installation
  template:
    src: ocp_ignition_bootstrap_ova.j2
    dest: "{{ocp_install_dir}}/bootstrap-ova.ign"
  when: rhcos_installation_method|upper=="OVA"

- name: Generate base64 ignition files for OVA installation
  copy:
    content: "{{ lookup('file',item) | b64encode }}"
    dest: "{{item}}.64"
  with_items:
    - "{{ocp_install_dir}}/bootstrap-ova.ign"
    - "{{ocp_install_dir}}/master.ign"
    - "{{ocp_install_dir}}/worker.ign"
  when: rhcos_installation_method|upper=="OVA"

- block:
  - name: Check if SELinux has already been configured for base64 ignition files
    shell:
      semanage fcontext -l | grep httpd_sys_content_t | grep '{{ ocp_install_dir }}/.*\.ign\.64' | wc -l
    register: _http_ignition_64

  - name: Enable access to base64 ignition files for nginx (SELinux)
    shell: |
      semanage fcontext -a -t httpd_sys_content_t -s system_u '{{ ocp_install_dir }}/.*\.ign\.64'
    when: _http_ignition_64.stdout == "0"
  when: 
  - ansible_selinux.status=='enabled'
  - rhcos_installation_method|upper=="OVA"

- name: Restore SELinux context for ignition files
  shell: restorecon -Rv "{{ocp_install_dir}}/*.ign.64"
  when: 
  - ansible_selinux.status=='enabled'
  - rhcos_installation_method|upper=="OVA"