# {{ ansible_managed }}

export KUBECONFIG={{ocp_install_dir}}/auth/kubeconfig

echo "Check if registry storage PVS already exists"
oc get pvc -n openshift-image-registry image-registry-pvc > /dev/null 2>&1

if [ $? -ne 0 ];then
    # Disable the image registry
    oc patch configs.imageregistry.operator.openshift.io cluster --type merge --patch '{"spec":{"managementState":"Removed"}}'

    # Create PVC pointing to the registry storage class to use
    oc create -f {{ocp_install_dir}}/registry_storage.yaml
    oc patch configs.imageregistry.operator.openshift.io cluster --type merge --patch '{"spec":{"storage":{"pvc":{ "claim": "image-registry-pvc" }}}}'

    # Create the default route for the image registry
    oc patch configs.imageregistry.operator.openshift.io/cluster --patch '{"spec":{"defaultRoute":true}}' --type=merge

    # Enable the image registry
    oc patch configs.imageregistry.operator.openshift.io cluster --type merge --patch '{"spec":{"managementState":"Managed"}}'
else
    echo "Image registry PVC already exists, no changes made"
fi

# Show the current status of the cluster operator
echo "Showing status of image-registry cluster operator: oc get co image-registry"
oc get co image-registry