{
    "ignition": {
        "config": {
            "append": [
                {
                    "source": "http://{{groups['bastion'][0]}}:{{http_server_port}}/{{ocp_install_dir}}/{{node_type}}.ign",
                    "verification": {}
                }
            ]
        },
        "timeouts": {},
        "version": "2.2.0"
    },
    "networkd": {},
    "passwd": {},
    "storage": {
        "files": [
            {
                "contents": {
                    "source": "data:text/plain;base64,{{chrony_client_conf['content']}}"
                },
                "filesystem": "root",
                "mode": 420,
                "path": "/etc/chrony.conf",
                "user": {
                  "name": "root"
                }
            }
{% if configure_global_proxy is defined and configure_global_proxy==True %}
            ,{
                "contents": {
                    "source": "data:text/plain;base64,{{global_proxy_conf['content']}}"
                },
                "filesystem": "root",
                "mode": 420,
                "path": "/etc/profile.d/global_proxy.sh",
                "user": {
                  "name": "root"
                }
            }
{% endif %}
        ]
    },
    "systemd": {}
}
