default menu.c32
# set Timeout 3 Seconds
timeout 30
ontimeout linux
label linux
  menu label ^Install RHEL CoreOS
  menu default
{% if openshift_release < "4.6" %}
  kernel /images/{{rhcos_kernel_package | basename}}
  append initrd=/images/{{rhcos_initramfs_package | basename}} nomodeset rd.neednet=1 coreos.inst=yes coreos.inst.install_dev=sda coreos.inst.image_url=http://{{groups['bastion'][0]}}:{{http_server_port}}/{{rhcos_metal_bios_package}} coreos.inst.ignition_url=http://{{groups['bastion'][0]}}:{{http_server_port}}/{{ocp_install_dir}}/{{node_type}}.ign nameserver={{groups['bastion'][0]}} ip={{item}}::{{default_gateway}}:{{netmask}}:{{hostvars[item]['host']}}.{{cluster_name}}.{{domain_name}}:enp3s0f0:none:{{groups['bastion'][0]}}
{% else %}
  kernel /images/{{rhcos_kernel_package | basename}}
  append initrd=/images/{{rhcos_initramfs_package | basename}} coreos.live.rootfs_url=http://{{groups['bastion'][0]}}:{{http_server_port}}/{{rhcos_rootfs_package}} rd.neednet=1 coreos.inst.install_dev=/dev/sda coreos.inst.ignition_url=http://{{groups['bastion'][0]}}:{{http_server_port}}/{{ocp_install_dir}}/{{node_type}}.ign ip={{item}}::{{default_gateway}}:{{netmask}}:{{hostvars[item]['host']}}.{{cluster_name}}.{{domain_name}}:enp3s0f0:none nameserver={{groups['bastion'][0]}} 
{% endif %}
